flutter/ephemeral/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
.env
*.json
*.properties
*.keystore
*.jks
*.iml
*.hprof
*.log
*.orig
*.rej
*.DS_Store
.vs/
.idea/
.gradle/
/build/
/local.properties
/.cxx/
/.externalNativeBuild/
.cxx/
.externalNativeBuild/
captures/
*.lock
*.log
*.tmp
*.bak
*.swp
*.class
*.jar
*.war
*.ear
