# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# ---------------------------------
# SECURITY & LOCAL CONFIG (WAJIB)
# ---------------------------------
# 1. Keystore & Signing Keys (NYAWA APLIKASI)
*.jks
*.keystore
*.p12
key.properties

# 2. Environment & Local Settings
.env*
android/local.properties

# 3. Firebase Config 
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# ---------------------------------
# PLATFORM SPECIFIC
# ---------------------------------

# Android
**/android/app/build
**/android/captures
**/android/gradle
**/android/.gradle
**/android/local.properties

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/App.framework
**/ios/Flutter/App.framework.dSYM
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/ServiceDefinitions.json

# Web
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json