name: project_restock
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # --- UI & FONTS ---
  cupertino_icons: ^1.0.6
  google_fonts: ^6.3.0
  phosphor_flutter: ^2.1.0
  fl_chart: ^0.71.0

  # --- STATE MANAGEMENT ---
  flutter_riverpod: ^2.6.1

  # --- BACKEND & NETWORK ---
  supabase_flutter: ^2.12.0
  http: ^1.2.1  

  # --- UTILITIES ---
  intl: ^0.20.2
  url_launcher: ^6.3.2 
  showcaseview: ^3.0.0
  shared_preferences: ^2.2.2
  flutter_local_notifications: ^17.0.0

  # --- HARDWARE & FILES ---
  camera: ^0.11.0
  image_picker: ^1.1.2
  permission_handler: ^11.3.1
  path_provider: ^2.1.3
  path: ^1.9.0
  pdf: ^3.10.8            # Untuk membuat dokumen PDF
  printing: ^5.13.2       # Untuk print/share PDF
  image: ^4.2.0 
  flutter_dotenv: ^6.0.0
  http_parser: ^4.1.2
  image_cropper: ^5.0.0
  print_bluetooth_thermal: ^1.1.1 # <-- GANTI INI (Koneksi)
  esc_pos_utils_plus: ^2.0.4

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^3.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - .env

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages